.roboto {
    font-family: 'Roboto', sans-serif;
}

body{
    background: #EEF9BF
}

.title{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: -0.004em;
    color: #75B79E;

    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.cartas{
    display: flex;
    flex-wrap: wrap;        
    justify-content: center;

    


}
.pai{
    margin: 3%;
    width:117px;
    height: 146px;
    position: relative;

}

.face{
    position: absolute;
    width:100%;
    height: 100%;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;

   
    background-color: #75B79E;
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;

    /* giro */
    backface-visibility: hidden;
    transition: active .5s;
    transform-style: preserve-3d;
} 

.front{
    background-image: url("/assets/front.png");
}
img{
    width: 100%;
    height: 100%;
}
.front-face {
    transform: rotateY(180deg);
}

.cartas:active .front-face {
    transform: rotateY(0deg);
}

.cartas:active .back-face {
    transform: rotateY(-180deg);
}
 
@media (max-width: 600px) {
	.cartas {
        flex-direction: column;
        align-items: center;
    }
}